<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.elwood.abbottgynecologie"
        version   = "1.0.0">

    <name>Abbot gynécologie</name>
    <description>myapplication</description>
    <author >Elwood / Abbott gynécologie</author>

    <preference name="orientation" value="landscape" />
		<preference name="fullscreen" value="true" />

<icon src="icons/ios/57-Pixels.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/72-Pixels.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/114-Pixels.png" gap:platform="ios" width="114" height="114" />		

<gap:splash src="splash.png" />

</widget>
